@import "../abstract/variables";

.btn {
  border-radius: 0.8rem;
  font-size: 1.4rem;
  text-align: center;
  justify-content: center;
  padding: 1.1rem;
  border: none;
  min-width: 12rem;
  display: flex;
  align-items: center;
  min-height: 3.5rem;
}

.btn-primary {
  background-color: $blue-400;
  color: $white-000;
  transition: all ease 0.3s;
  position: relative;
  &:hover,
  &:focus,
  &:disabled {
    color: $white-000;
    background-color: darken($color: $blue-400, $amount: 15);
  }
  &:disabled {
    opacity: 0.8;
  }
}
.btn-outline {
  border: 0.1rem solid $blue-900;
  color: $blue-900;
  transition: all ease 0.3s;
  position: relative;
  &:hover,
  &:focus,
  &:disabled {
    color: $white-000;
    background-color: darken($color: $blue-900, $amount: 15);
  }
}

.btn-lg {
  min-height: 4.8rem;
  min-width: 16rem;
  padding: 0.8rem 1.5rem;
  font-size: 1.6rem;
}

.btn-md {
  min-height: 3.6rem;
  min-width: 14rem;
  font-size: 1.5rem;
}
.btn-sm {
  height: 3.5rem !important;
  width: 5rem !important;
  font-size: 1.5rem;
  @media (max-width: 500px) {
    width: 10rem;
  }
}
.bg-none {
  background: none;
}
