@import "../../assets/styles/abstract/variables";

nav {
  &.nav-fixed {
    background-color: $white-000;
    padding-block: 0.8rem;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
  }
  .nav-logo {
    height: 3.2rem;
    object-fit: contain;
  }
}
