@import "../../../assets/styles/abstract/variables";

.carousel-wrapper {
  margin-top: 1.8rem;
  .control-dots {
    z-index: 10 !important;
  }
  .slider-wrapper {
    ul {
      height: 70vh;
      img {
        border-radius: 2.4rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      li {
        z-index: 9 !important;
      }
    }
  }
  .legend {
    background: transparent !important;
    opacity: 1 !important;
    border-radius: 0 !important;
    text-align: left !important;
    bottom: 14vh !important;
    @media (max-width: 767px) {
      bottom: 10vh !important;
    }
  }
}

.different-tribe-wrapper {
  background: url(../../../assets/images/different-tribe.svg);
  border-radius: 2.4rem;
  height: 49rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  .different-tribe-text {
    color: $white-000;
    position: absolute;
    left: 5rem;
    bottom: 5rem;
  }
}

.support-image-grid {
  display: flex;
  border-radius: 2.4rem;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .card-img-container {
    overflow: hidden;
    position: relative;
    min-width: 29.4rem;
    max-width: 100%;

    .overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      color: $white-000;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
        transform: translateX(42%);
        transition: all ease 0.8s;
      }
      .desc {
        transform: translate(200%, 50%);
        transition: all ease 0.8s;
        position: absolute;
        line-height: 1;
      }
    }
    .card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 1.2s;
    }
    &:hover {
      .overlay {
        background-color: rgba(0, 0, 0, 0.5);
        .title {
          transform: translateX(0);
        }
        .desc {
          position: relative;
          transform: translate(0);
        }
      }
      .card-img {
        transform: scale(1.1);
      }
    }
  }
}

.testimonies-wrapper {
  display: flex;
  min-height: 36rem;
  @media (max-width: 767px) {
    flex-wrap: wrap;
  }
  img {
    border-radius: 1.6rem 0 0 1.6rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @media (max-width: 767px) {
      border-radius: 1.6rem 1.6rem 0 0;
    }
  }
  .testimonial-img {
    width: 30%;
    @media (max-width: 767px) {
      width: 100% !important;
    }
  }
  .testimonial-text {
    width: 70%;
    border-radius: 0 1.6rem 1.6rem 0;
    padding: 5rem;
    padding-top: 9rem;
    background: $primary-300;
    @media (max-width: 767px) {
      padding: 3rem;

      width: 100%;
      border-radius: 0 0 1.6rem 1.6rem;
    }
  }
}

.feedback-contact-wrapper {
  background: url(../../../assets/images/feedback-bg.svg);
  color: #fff;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 40rem;
  padding-block: 8rem;
  h1 {
    font-size: 4.8rem;
    line-height: 4rem;
    margin-bottom: 2rem;
  }
  .resize-width {
    @media (min-width: 1400px) {
      width: 90%;
    }
  }
}
