@import "../../assets/styles/abstract/variables";

.card-wrapper {
  background: $primary-300;
  border-radius: 2.4rem;
  padding: 1.6rem 1.6rem 2.4rem 1.6rem;
  .card-img {
    border-radius: 1.6rem;
    width: 100%;
    height: 29rem;
    object-fit: cover;
  }
  .next-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
}
